.bg-forest{
    background-image: url("./background/forest.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.forest{
    &__plastic{
        display: none;
        position: relative;

        &--img{
            position: absolute;
            width: 2rem;
            height: 2rem;
        }
    }

    &__dialog-container{
        background-color: $white;
        position: absolute;
        bottom: 0;
        width: 100%;
        border: $black solid 1px;
        padding: 0.6rem 0.8rem;

        &--game-start{
            cursor: pointer;
            font-weight: bold;
        }

        &--dialog-next{
            cursor: pointer;
            font-weight: bold;
            color: $black;
            text-decoration: none;
            display: none;
        }

        &--friend{
            width: 5rem;
            display: none;
        }

        &--game-next{
            cursor: pointer;
            font-weight: bold;
            color: $black;
            text-decoration: none;
            display: none;
        }
    }
}