.bg-endscreen{
    background-image: url("./background/startbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.endscreen{
    width: 80%;
    border-radius: 1.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1.2rem 1.7rem;
    background: $start-bg;
    backdrop-filter: blur(5px);

    &__titel{
        text-align: center;

        &--text{
            margin-bottom: 1.1rem;
        }

        &--again{
            display: block;
            margin: 0 auto;
            padding: 0.3rem 0.7rem;
            background-color: $green;
            border: $black solid 1px;
            border-radius: 0.5rem;
            cursor: pointer;
        }
    }
}